input[type=checkbox] {
	display:none;
}

input[type=checkbox] + label
{
	height: 83px;
	width: 124px;
	display:inline-block;
	padding: 0 0 0 0px;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	margin: 2px;
	cursor: pointer;
}
input[type=checkbox]:checked + label
{
	display:inline-block;
	padding: 0 0 0 0px;
	opacity: 1.0;
}

h2 a { font-weight: normal; color: #555; }
.centered { text-align: center; }
.loader { display: block; margin: 195px auto 0}
#add-buttons p, #rm-buttons p { display: inline-block; margin: 0 5px;}
.greater-than { margin-right: 5px; }
.less-than { margin-left: 5px; }

#description { width: 20em; height: 7em; }

#cover-img {margin-bottom: 10px; width: 124px; height: 83px;}